{% extends "ontologies_base.html" %}

{% block content %}


<div class="row">
	<div class="small-12 columns">

<br>
	
<ul class="breadcrumbs"><li><a href="{% url 'ontologies:index' %}">Ontologies (Lists, Dictionaries, Vocabularies, Taxonomies or Thesauri)</a></li>

 <li class="current"><a href="#">All lists & ontologies</a></li> 
  </ul>

<h1>Ontologies (Lists of names or concepts, Vocabularies, Dictionaries, Taxonomies, Thesauri)</h1>
<p>Lists or dictionaries or thesauri with named entities like persons, organizations, locations, names, tags, categories, important words or concepts to use for interactive navigation, filters, overviews, analytics or classification</p>

<a class="button" href="{% url 'ontologies:create' %}">Add new list of names or named entities, dictionary, thesaurus or ontology</a>

	</div>
</div>


<div class="row">
	<div class="small-12 columns">
<h2>All Ontologies (Lists, Vocabularies, Dictionaries, Taxonomies or Thesauri)</h2>

{% if ontologies_list %}
    <ul>
    {% for ontology in ontologies_list %}
        <li><h2><a href="{% url 'ontologies:detail' ontology.id %}">{{ ontology.title|default:ontology }}</a></h2>
            <a class="button small" href="{% url 'ontologies:detail' ontology.id %}">Details</a>
            <a class="button small" href="{% url 'ontologies:update' ontology.id %}">Edit settings</a>

        </li>
    
    {% endfor %}
    </ul>
{% else %}
    <p>No ontologies or lists yet.</p>
{% endif %}


	</div>
</div>


{% endblock content %}