{% extends "base.html" %}

{% block content %}


{% if results %}
<h1>Querytagger results</h1>

<p>
Tagged {{ found }} documents for the query <code>{{ query }}</code> which had not this tag yet.
</p>

{% endif %}



<h1>Tag all results of a query</h1>


<form action="" method="post">{% csrf_token %}
{% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
{% endfor %}
<input type="submit" value="Submit" />
</form>




{% endblock content %}