Package: open-semantic-search-apps
Version: 18.10.30
Section: misc
Priority: optional
Architecture: all
Depends: curl(>=0), libjs-jquery(>=0), python3-django(>=0), python3-pysolr(>=0), python3-requests(>=0), python3-rdflib(>=0), apache2(>=0), libapache2-mod-wsgi-py3(>=0), python3-django-celery(>=0)
Installed-Size: 100
Maintainer: Markus Mandalka <debian@mandalka.name>
Homepage: http://www.opensemanticsearch.org/
Description: Open Semantic Search Web Apps and REST-API
