{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}



{% if error_messages %}
<h1>Errors</h1>
<ul>
{% for error in error_messages %}
<li>{{ error }}</li>
{% endfor %}
</ul>
{% endif %}


<h1>Fuzzy search result variants for concept <i>{{concept}}</i> within indexed documents (corpus)</h1>
<h2>Aggregation of analysis results not yet assigned to concept entry in thesaurus</h2>
Aggregated variants of all labels, alternate labels and hidden labels and all stemmers, compounded words by wildcards and fuzzy search results by edit distance:

{% for result in aggregation_new %}

<ul>
<h3>{{ result }}</h3>
<a target="_blank" href="{% url 'thesaurus:api' %}?pk={{concept.id}}&relation=altLabel&label={{result}}">[Add to alternate labels, aliases or synonyms]</a>
|
<a target="_blank" href="{% url 'thesaurus:api' %}?pk={{concept.id}}&relation=hiddenLabel&label={{result}}">[Add to hidden labels or misspellings]</a>
|
 Todo: [Add as broader concept] | [Add as narrower concept] | [Exclude (false positive)]

</li>
</ul>


{% endfor %}

<h2>Aggregation of analysis results</h2>
Aggregated variants of all labels, alternate labels and hidden labels and all stemmers, compounded words and fuzzy search by edit distance:

{% for result in aggregation %}

<ul>
<li>{{ result }}
</ul>


{% endfor %}



This aggregate is result of all following search operations:

{% for result, values in results.items %}

<h1>Analysis of <i>{{ result }}</i></h1>




{% for stemmer, stemmed_values in values.items %}

<h2>Analysis of <i>{{ result }}</i> by <i>{{stemmer}}</i></h2>


{% for stemmed in stemmed_values %}

<li>{{ stemmed }}



{% endfor %}

{% endfor %}

{% endfor %}




</div>


</div>
{% endblock content %}