{% extends "annotate_base.html" %}

{% block content %}

<div class="row">
	<div class="small-12 columns">


<br>
	
<ul class="breadcrumbs"><li><a href="{% url 'annotate:index' %}">Annotations</a></li>

 <li class="current"><a href="#">{{ annotation }}</a></li>
  </ul>

	</div>
</div>

<div class="row">
	<div class="small-12 columns">


{% if messages %}

<div data-alert class="alert-box success radius">

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}




<h1>{{ annotation.title|default:annotation.uri }}</h1>


{% if annotation.title %}

<h2>URI</h2>
{{ annotation.uri }}</h1>
{% endif %}


{% if annotation.tags.all %}
		<div class="panel">
<h2>Tags</h2>

	<ul>
		{% for tag in annotation.tags.all %}

		<li>{{ tag }}</li>
	
		{% endfor %}
	</ul>
</div>	
{% endif %}
	
	
{% if annotation.notes %}
	<h2>Notes</h2>
			<div class="panel">
	
	{{ annotation.notes }}
	</div>	
{% endif %}
	
	
	</div>
</div>




<div class="row">
	<div class="small-12 columns">

<hr>

<a class="button" href="{% url 'annotate:update' annotation.id %}">Edit</a>


	</div>
</div>

{% endblock content %}